.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
        left: 500px; 
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#cityInput{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
background: linear-gradient(to right, #0D47A1, #1976D2, #42A5F5);    position: relative;
    position: fixed;
        left: 500px;
}
#fetchBtn{
    position: fixed;
    top: 200px;
    left: 80px;
        width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ececec;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
background: linear-gradient(to right, #0D47A1, #1976D2, #42A5F5);    position: relative;
    left: 720px;
}
#resultDiv{
    color: red;
}
#citySelect{
            width: 12%;
    padding: 12px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ececec;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 16px;
background: linear-gradient(to right, #0D47A1, #1976D2, #42A5F5);    position: relative;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}